:root {
  --primary-text-color: #212121;
  --main-blue-color: #2196f3;
  --main-white-color: #ffffff;
  --logo-black-color: #000000;
  --tel-color: #757575;
  --footer-address-color: rgba(255, 255, 255, 0.6);
  --background-black: #2f303a;
  --background-portfolio-nav: #f5f4fa;
  --background-button: #188ce8;
  --border-color: #eeeeee;
  --header-border-color: #ececec;
}

body {
  font-family: roboto, sans-serif;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.button {
  font-family: roboto, sans-serif;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 0px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding-left: 0px;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
p {
  margin: 0px;
}

img {
  border: none;
  outline: none;
}

.container {
  width: 1200px;
  display: flex;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
}

/* ------------------header---------------- */

.header {
  background-color: var(--main-white-color);
  display: flex;
  align-items: center;
  height: 80px;
  justify-content: center;
  border-bottom: 1px solid var(--header-border-color);
}

.logo {
  color: var(--main-blue-color);
  font-family: raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.header-contacts {
  display: flex;
  align-items: center;
}

.header-container {
  display: flex;
  align-items: center;
}

.header-list {
  display: flex;
  padding: 15px 0;
}

.header-container .logo {
  margin-right: 93px;
}

.logo span {
  color: var(--logo-black-color);
}

.header-nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
  padding-right: 50px;
}

.tel-mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--tel-color);

  padding-left: 50px;
}

.tel-mail:hover,
.tel-mail:focus,
.header-nav:hover,
.header-nav:focus {
  color: var(--main-blue-color);
}

/* ----------first page------------------- */

.main {
  display: flex;
}

.main-container {
  width: 1200px;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.hero {
  background-color: var(--background-black);
  display: flex;
  flex-direction: column;
}

.hero h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-white-color);
  padding: 200px 252px 30px 252px;
}

.hero button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--main-white-color);
  background-color: var(--main-blue-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  width: 216px;
  height: 50px;
  margin: 0px auto 100px;
}

.hero button:hover,
.hero button:focus {
  background-color: var(--background-button);
}

.features,
.our-works {
  background-color: var(--main-white-color);
}

.features {
  width: 1200px;
  margin-top: 94px;
  margin-bottom: 94px;
  padding-left: 15px;
  padding-right: 15px;
}

.features li {
  width: 270px;
}

.features ul {
  display: flex;
  justify-content: space-between;
}

.features .features h3 {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.features p {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: var(--tel-color);
}

.our-works {
  padding-left: 15px;
  padding-right: 15px;
}

.our-works ul {
  gap: 30px;
}

.our-works ul {
  display: flex;
}

.our-works h2,
.our-team h2 {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}

.our-team ul {
  display: flex;
  gap: 30px;
  justify-content: space-between;
}

.our-team {
  background-color: var(--background-portfolio-nav);
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 94px;
  padding-bottom: 94px;
  margin-top: 94px;
}

.our-team li {
  background-color: var(--main-white-color);
}

.our-team h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  padding: 30px 0px 10px 0px;
}

.our-team p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  color: var(--tel-color);
  text-align: center;
  padding-bottom: 30px;
}

/* ---------------portfolio--------------- */

.portfolio-nav {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: var(--primary-text-color);
  background-color: var(--background-portfolio-nav);
  padding: 6px 25px;
}

.portfolio-nav:hover,
.portfolio-nav:focus {
  color: var(--main-white-color);
  background-color: var(--main-blue-color);
}

.portfolio {
  background-color: var(--main-white-color);
  display: flex;
}

.portfolio-container {
  width: 1200px;
  display: flex;
  flex-direction: column;
  margin: 94px auto;
}

.portfolio-button {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 575px;
  height: 54px;
  align-items: flex-start;
}

.portfolio-projects {
  display: flex;
  flex-wrap: wrap;
  padding: 0px 15px;
  gap: 30px;
  margin-top: 34px;
  justify-content: space-between;
}

.portfolio-picture {
  border: 1px solid var(--border-color);
  width: 370px;
}

.portfolio h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  padding: 20px 24px 0px 24px;
}

.portfolio p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  color: var(--tel-color);
  padding: 4px 24px 20px 24px;
}

/* -------------footer----------------- */

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.footer-container {
  height: 252px;
  width: 1200px;
  align-items: center;
  background-color: var(--background-black);
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 60px;
}

.footer .logo {
  display: inline-block;
  margin-bottom: 20px;
}

.address {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}

.address li:not(:last-child) {
  margin-bottom: 9px;
}

.address-contacts {
  color: var(--footer-address-color);
}

.address-footer {
  color: var(--main-white-color);
}

.footer span {
  color: var(--main-white-color);
}

.address-footer:hover,
.address-footer:focus,
.address-contacts:hover,
.address-contacts:focus {
  color: var(--main-blue-color);
}
